@import "tailwindcss";
@plugin "daisyui" {
  themes: ;
  themes: light --default, dark --prefersdark;
}

@theme {
  --breakpoint-sm: 20rem;
}

#root .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #121212;
  font-size: large;
  height: 100vh;
}

/* Snow Theme */
#root .ql-snow.ql-toolbar {
  display: block;
  background: #a8a8a8;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#root .ql-editor {
  height: 100vh;
  min-width: 100%;
}

:root {
  /* line-height: 1.5;
  font-weight: 400;  */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(20, 20, 20); */

  /* rgb(236, 240, 245)
  bg-[rgb(85,85,85)] 
   rgb(168, 166, 163)
  bg-[#674b9b]  */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  */
}
