@import "tailwindcss";
@plugin "daisyui" {
  themes: ;
  themes: light --default, dark --prefersdark;
}

@theme {
  --breakpoint-sm: 20rem;
}

#root .ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #121212;
  font-size: large;
  height: 100vh;
  color: #eeeeee;
}

/* Snow Theme */
#root .ql-snow.ql-toolbar {
  display: block;
  background: #a8a8a8;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  color: #eeeeee;
}

#root .ql-editor {
  height: 100vh;
  min-width: 100%;
  color: #eeeeee;
}

#postContent a {
  color: aqua;
  text-decoration: underline;
}
#postContent strong {
  font-weight: bold;
}

#postContent i {
  font-style: italic;
}

#postContent * {
  font-family: var(--font-serif);
  line-height: 1.5;
  color: #eeeeee;
}

#postContent h1 {
  font-size: 2.5rem;
}

#postContent h2 {
  font-size: 2rem;
}

#postContent h3 {
  font-size: 1.75rem;
}

#postContent h4 {
  font-size: 1.5rem;
}

:root {
  /* line-height: 1.5;
  font-weight: 400;  */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: rgb(20, 20, 20); */

  /* rgb(236, 240, 245)
  bg-[rgb(85,85,85)] 
   rgb(168, 166, 163)
  bg-[#674b9b]  */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  */
}
